@charset "UTF-8";

	#wrapper {
		margin-top: 40px;
	}

	table {
		border: 1px solid #ddd;
		background-color: #fff;
		margin-bottom: 20px;
		width: 100%;
	}
	
	
	.title {
		font-size: 16px;
		background-color: #f7f7f7;
		color: #4D4C4C;
	}
	
	b {
		color: #4D4C4C;
		font-size: 22px;
		font-weight: bolder;
	}
	
	.inputInfo, .check{
		font-size: 13px;
		color: #4D4C4C;
	}

	input {
		margin-left: 10px; 
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box
	}
	
	body {
		min-width: 715px;
		background-color: #f7f7f7;
	}
	
	ul>li {
		list-style: none
	}
	
	.clearfix::after {
		content: "";
		display: block;
		clear: both;
	}

	#frm_join {
		width: 80%;
		margin: 0 auto;
	}
	
	ul.join_box {
		border: 1px solid #ddd;
		background-color: #fff;
	}
	
	.checkBox,.checkBox>ul {
		position: relative;
	}
	
	.checkBox>ul>li {
		float: left;
	}
	
	.checkBox>ul>li:first-child {
		width: 85%;
		padding: 15px;
		font-weight: 600;
		color: #888;
	}
	
	.checkBox>ul>li:nth-child(2) {
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -12px;
	}
	
	.checkBox textarea {
		width: 96%;
		height: 150px;
		margin: 0 2%;
		background-color: #f7f7f7;
		color: #888;
		border: none;
	}
	
	.footBtwrap {
		display:flex;
		position:relative;
		text-align: center;
		justify-content: center;
		margin-top: 15px;
		margin-bottom: 40px;
	}
	
	.footBtwrap>a {
		width: 35%;
		height: 60px;
	}
	
	.footBtwrap>a>input {
		width: 95%;
		height: 100%;
		font-size: 20px;
		line-height: 60px;
		margin: 0;
	}
	
	.fpmgBt1 {
		background-color: #00AAFF;
		color: #fff;
		border: 0;
		border-radius: 5px;
	}
	
	.fpmgBt2 {
		background-color: #fff;
		color:#888;
		border: 1.5px solid #ddd;
		border-radius: 5px;
	}

	.aTag {
		color: #4D4C4C;
		font-size:6px;
		border-top: none;
	}

	.bTag, .code{
		border-bottom: none;
	}
	
	.ad {
	 	border-top: none;
	}

	.valid-msg {
		display: block;
		color: red;
		font-size: 10px;
	}