<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>semiProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.kh.semi.common.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>wrapperFilter</filter-name>
    <filter-class>com.kh.semi.common.filter.WrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wrapperFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>validatorFilter</filter-name>
	<filter-class>com.kh.semi.common.filter.ValidatorFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>validatorFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>authorizationFilter</filter-name>
	<filter-class>com.kh.semi.common.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>authorizationFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
  	<listener-class>com.kh.semi.common.listener.ServletListener</listener-class>
  </listener>
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.kh.semi.common.exception.PageNotFoundException</exception-type>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.kh.semi.common.exception.HandlableException</exception-type>
    <location>/exception-handler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ScheduleController</display-name>
    <servlet-name>ScheduleController</servlet-name>
    <servlet-class>com.kh.semi.schedule.controller.ScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleController</servlet-name>
    <url-pattern>/ScheduleController</url-pattern>
  </servlet-mapping>
</web-app>